<form id="form" action="<%= action %>" method="POST">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4>Data Kinerja Guru</h4>
          <div class="input-group input-group-static mb-4">
            <label>Nuptk</label>
            <input class="form-control" name="nuptk" type="text" value="<%= nuptk%>" required />
          </div>

          <div class="input-group input-group-static mb-4">
            <label>Name</label>
            <input class="form-control" name="name" type="text" value="<%= name%>" required />
          </div>

          <% forms.forEach( (form, i) => { const value = form.value || "" %>
          <div class="input-group input-group-static mb-4">
            <label><%= form.name %></label>
            <input
              class="form-control"
              name="<%= form.id %>"
              type="number"
              min="1"
              step="0.001"
              max="5"
              value="<%= value%>"
              required
            />
          </div>
          <% }) %>
          <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary col-md-12 col-sm-12">Simpan Data</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
